:root {
  /* color-scheme: light dark; */
  /* * typography */
  /* font family */
  --ff-sans-normal: "Roboto", sans-serif;

  /* font size- mobile*/
  /* --fs-300: 1rem; --fs-400: 1.125rem; --fs-500: 1.266rem; --fs-600: 1.424rem; --fs-700: 1.602rem; --fs-800: 1.802rem; --fs-900: 2.027rem; */

  /* lrg screen */
  /* scale avg. 1.414 */
  --fs-300: 0.8rem; /* 12.8px */
  --fs-400: 1rem; /* p - 16px */
  --fs-500: 1.125rem; /* h4 - 18px */
  --fs-600: 1.5rem; /* h3 - 24px */
  --fs-700: 2.25rem; /* h2 - 36px */
  --fs-800: 3rem; /* h1 - 48px */
  --fs-900: 3.375rem;

  /* * colors */
  /* ---- global experimental ----- */
  /* rgb */
  --r: 31;
  --g: 41;
  --b: 55;
  /* rgb variation */
  --text-color: rgb(var(--r), var(--g), var(--b));

  /* --- standard colors --- */
  /* light */
  --clr-white-700: #ccd5c3;
  --clr-white-800: #f9faf8; /* hero text */
  --clr-white-900: #ffffff;

  /* dark */
  --clr-dark-800: #1f2937; /* header + bg-dark + quote text */
  --clr-dark-900: #000000;

  /* neutrals */
  --clr-neutral-400: #e5e7eb; /* hero secnd text + quote sect bg */
  --clr-neutral-800: #7c828b;

  /* primary */
  --clr-primary-400: #3882f6; /* button */

  /* secondary */
  --clr-secondary-400: #f5b738;

  /* - special - */
  /* quote */
  --clr-quote-400: #1f2937; /* quote text clr */

  /* * spacing | box | size */
  /* margin for sections */
  --section-spacing: 3em;

  /* spacing for h2, h3 and p */
  /* --flow-spacer: 2em; */
  --flow-spacer: 2em;
}

/* * md section spacing — large screens */
@media only screen and (min-width: 65em) {
  :root {
    --section-spacing: 6rem;
    --flow-spacer: 0.75em;
  }
}
/* * md font size — small screens */
@media only screen and (min-width: 40em) {
  :root {
    /* scale avg. 1.414 */
    --fs-300: 0.8rem; /* 12.8px */
    --fs-400: 1rem; /* p - 16px */
    --fs-500: 1.125rem; /* h4 - 18px */
    --fs-600: 1.5rem; /* h3 - 24px */
    --fs-700: 2.25rem; /* h2 - 36px */
    --fs-800: 3rem; /* h1 - 48px */
    --fs-900: 3.375rem;
  }
}

/* * */
/* * */
/* * html & body */
/* * */
/* * */

html {
  scroll-behavior: smooth;
  background-color: var(--clr-dark-300);
}

body {
  font-family: var(--ff-sans-normal);
  min-height: 100vh;
  /* margin: 0 auto; */
  background-color: var(--clr-white-900);
  /* color: var(--text-color); */
  overflow-x: hidden;
}

/* * */
/* * dark mode */
/* * */

/* @media (prefers-color-scheme: dark) {
  body {
    color: var(--clr-white-800);
    background: var(--clr-dark-900);
    background: color(display-p3 1 0.08 0);
    background: lab(150% -400 400);
    background: hsl(from #f06d06 h calc(s + 20%) l / 0.5);
    background: lch(from red l calc(c + 15) h / 0.25);
  }
  body a {
    color: var(--clr-primary-400);
  }
} */

/* * */
/* * all set to default */
/* * */
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

/* * list default */

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  max-width: 64ch;
}
@media screen and (max-width: 40em) {
  h2,
  h1 {
    min-width: 8ch;
  }
  h3,
  h4,
  p {
    min-width: clamp(12ch, 16chs - 0.5vw, 20ch);
  }
}
/* * */
/* * typography */
/* * */

/* * font size */
h1,
.h1 {
  font-size: clamp(var(--fs-600), min(13vw, var(--fs-800)), var(--fs-800));
}
h2,
.h2 {
  font-size: clamp(var(--fs-500), min(10vw, var(--fs-700)), var(--fs-700));
}
h3,
.h3 {
  font-size: clamp(var(--fs-400), min(6.5vw, var(--fs-600)), var(--fs-600));
}
h4,
.h4 {
  font-size: var(--fs-500);
}
p,
.p {
  font-size: var(--fs-400);
}

/* * font-weight */

h1,
h2 {
  font-weight: 900;
}

/* * default picture img */
/* make images and pictures easier to work with */
img,
image,
picture {
  display: block;
  max-width: 100%;
  background-color: var(--clr-white-800);
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  color: var(--clr-white-900);
  background-color: var(--clr-primary-400);
  padding: calc(var(--fs-300) / 1.125) var(--fs-500);
  border: 0;
  border-radius: 0.3em;
  font-size: var(--fs-500);
  font-weight: bold;
  /* width: 100%; */
  /* max-width: clamp(14ch, 14ch + 5vw, 22ch); */
  /* ! this helps the button retain it's width when inside flex parent */
  /* align-self: flex-start; */
}

a {
  text-decoration: none;
}
/* // */
/* * */
/* * utility classes */
/* * */
/* // */

/* * sizing */
.container {
  max-width: 63.5em;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* * padding for all sections */
.home-section {
  padding: var(--section-spacing) 0;
}
/* * width & height */
.width-full {
  width: 100%;
}
/* height auto */
.height-auto {
  height: auto;
}
/* * spacing for h2, h3 and p */
.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}
/* // */
/* * flexing */
/* // flex row - flex-column */

.flex-row {
  /* display: -ms-flexbox; */
  display: flex;
  flex-direction: row;
  /* -webkit-box-pack: center; */
  /* display: -webkit-box; */
}

.flex-column {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  /* display: -webkit-box; */
}
.flex-wrap {
  flex-wrap: wrap;
}

/* flex alignment */

.flex-justify-between {
  justify-content: space-between;
}

.flex-items-center {
  align-items: baseline;
}

/* // */
/* * accessibility */

/* text and elements only for screen readers - hides from view */
.screenreader-accessibility-text {
  position: absolute;
  left: -999px;
  top: auto;
  height: 1px;
  width: 1px;
}

.screenreader-accessibility-text:focus {
  display: inline-block;
  position: static;
  height: auto;
  margin: auto;
  width: auto;
}

/* // */
/* * color */
.bg-dark {
  background-color: var(--clr-dark-800);
  /* color: var(--clr-white-900); */
}

.bg-grey {
  background-color: var(--clr-neutral-400);
}

/* buttons */
.btn-cta {
  /* align-self: flex-start; */
}

@media screen and (min-width: 40em) {
  .btn-cta {
    /* ! this helps the button retain it's width when inside flex parent */
    align-self: flex-start;
  }
}

.btn-ghost {
  background: none;
  background-color: none;
  border: 2px solid var(--clr-white-800);
  color: var(--clr-white-800);
}

.btn--small {
  font-size: inherit;
}
/* * // */
/* * */
/* * custom styling starts here */
/* * */
/* * // */

header {
  background-color: var(--clr-dark-900);
}

/* * primary navigation */
/* * */
.header-wrapper__menu {
  /* flex: 0.85 1 auto; */
  flex: 1;
  /* gap: 3rem; */
  gap: clamp(5ch + 1vw, 6vw, 12vw - 6ch);
}
.header-wrapper {
  /* gap: 3rem; */
  padding: 1em 0;
}
.primary-nav {
  display: flex;
  flex: 1;
  /* padding: 1em 0; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 2rem; */
}

.primary-nav ul {
  align-items: center;
  color: var(--clr-neutral-400);
  gap: 2em;
}

.primary-nav ul > * {
  --fs-nav-item: clamp(
    0.5rem,
    max(1vw - var(--fs-300), 0.4vw + var(--fs-300)),
    var(--fs-400)
  );
  font-size: var(--fs-nav-item);
  font-weight: 300;
}

.primary-nav .btn-ghost {
  font-size: var(--fs-nac-item);
}

/* todo reduce cta ghost font size to nav items*/

/* logo text */

.logo-text {
  color: var(--clr-white-800);
}

/* * */
/* * hero section */
/* * */

.hero-wrapper {
  gap: clamp(
    var(--flow-spacer),
    min(var(--flow-spacer) + 2.6vw, var(--fs-900)),
    4em
  );
  justify-content: space-between;
  flex-grow: 0;
  /* align-items: flex-start; */
}
/* hero start */
.hero-start {
  padding: 1em 0;
  gap: var(--fs-500);
}

.hero-start h1 {
  color: var(--clr-white-800);
  margin: 0;
  padding: 0;
  text-align: center;
}
.hero-start p {
  color: var(--clr-neutral-400);
  text-align: center;
}

@media screen and (min-width: 40em) {
  .hero-start h1,
  .hero-start p {
    text-align: left;
  }
}

/* hero end */
.hero-end {
  overflow: hidden;
}
img .hero-end__image {
  background-color: var(--clr-bg-dark) !important;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}

/* * */
/* md query */

@media screen and (min-width: 40em) {
  .hero-wrapper {
    flex-direction: row;
  }
}

/* // */
/* * features section */

.features {
  /* gap: calc(var(--section-spacing) * 0.666); */
  justify-content: center;
}

.features ul {
  justify-content: space-evenly;
}

.features li {
  display: flex;
  flex-direction: column;
  gap: var(--flow-spacer);
}

.features li > * {
  display: flex;
  flex-direction: column;
}

/* .features li > * + * {
  max-width: clamp(12ch, 30vw, 300px);
}
 */
/* todo 1. reduce image size on mobile */
/* todo 2. add rounded corners to the image */
.features img {
  /* max-width: clamp(31.82vw, 31.82vw + 10vw, 100vw); */
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: calc((164 / 16) * 1px);
  border: 0;
}

@media screen and (min-width: 40em) {
  div .features {
    display: flex;
    flex-direction: row;
  }

  .features h2 {
    font-size: clamp(var(--fs-500), min(10vw, var(--fs-700)), var(--fs-700));
    text-align: center;
    margin-bottom: calc(var(--fs-500) * 2);
  }

  .features img {
    /* max-width: clamp(31.82vw, 31.82vw + 10vw, 100vw); */
    min-height: 164px;
    height: 100%;
    max-width: 164px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .features li > * + * {
    /* max-width: clamp(12ch, 30vw, 300px); */
    max-width: 164px;
    text-align: center;
  }
  .features ul > * {
    display: flex;
    padding: 1px;
    flex-direction: column;
  }
}

/* * */
/* * quote section */
/* * */
.quote {
  gap: var(--flow-spacer);
}
.quote blockquote {
  color: var(--clr-dark-800);
  font-style: italic;
  font-weight: 300;
  font-size: var(--fs-500);
}
.quote .author {
  align-self: flex-end;
  font-size: var(--fs-400);
  margin-right: 4ch;
  color: var(--clr-dark-800);
}

@media screen and (min-width: 40em) {
  .quote {
    padding-inline: var(--section-spacing);
  }

  .quote blockquote {
    font-size: clamp(var(--fs-500), min(10vw, var(--fs-700)), var(--fs-700));
  }
  .quote .author {
    margin-right: 4ch;
    font-size: var(--fs-600);
  }
}

/* * */
/* * call to action section */
/* * */

.cta__wrapper {
  background-color: var(--clr-primary-400);
  border-radius: 8px;
  padding: var(--flow-spacer);
  gap: var(--flow-spacer);
}
.cta__content > * {
  color: var(--clr-white-800);
}
.cta__content {
  gap: var(--fs-400);
}

@media screen and (min-width: 40em) {
  .cta__wrapper {
    align-items: center;
    padding: calc(var(--section-spacing) / 2) var(--section-spacing);
    justify-content: space-between;
    flex-direction: row;
  }
}
/* * */
/* * footer */
/* * */

footer {
  background-color: var(--clr-dark-900);
}

.primary-footer__copyright-header {
  padding-top: calc(clamp(2em, 2em + 5vw, var(--section-spacing)) / 2);
  padding-bottom: calc(clamp(2em, 2em + 5vw, var(--section-spacing)) / 2);
}

.primary-footer__copyright-header__text {
  font-size: calc(var(--fs-400) - (var(--fs-300) / 100));
  text-align: center;
  margin: 0 auto;
  color: var(--clr-neutral-400);
}
.primary-footer__copyright-header__text a {
  color: var(--clr-neutral-400);
}
