:root {
  /* * typography */
  /* font family */
  --ff-sans-normal: "Roboto", sans-serif;

  /* font size- mobile*/
  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* p - 18px */
  --fs-500: 1.266rem; /* h4 - 20.25px */
  --fs-600: 1.424rem; /* h3 - 22.78px */
  --fs-700: 1.602rem; /* h2 - 25.63px */
  --fs-800: 1.802rem; /* h1 - 28.83px */
  --fs-900: 2.027rem;

  /* * colors */
  /* ---- global experimental ----- */
  /* rgb */
  --r: 31;
  --g: 41;
  --b: 55;
  /* rgb variation */
  --text-color: rgb(var(--r), var(--g), var(--b));

  /* --- standard colors --- */
  /* light */
  --clr-white-700: #ccd5c3;
  --clr-white-800: #f9faf8; /* hero text */
  --clr-white-900: #ffffff;

  /* dark */
  --clr-dark-800: #1f2937; /* header + bg-dark + quote text */
  --clr-dark-900: #000000;

  /* neutrals */
  --clr-neutral-400: #e5e7eb; /* hero secnd text + quote sect bg */
  --clr-neutral-800: #7c828b;

  /* primary */
  --clr-primary-400: #3882f6; /* button */

  /* secondary */
  --clr-secondary-400: #f5b738;

  /* - special - */
  /* quote */
  --clr-quote-400: #1f2937; /* quote text clr */

  /* * spacing | box | size */
  /* margin for sections */
  --section-spacing: 3em;

  /* spacing for h2, h3 and p */
  --flow-spacer: 0.75em;
}

/* * md section spacing — large screens */
@media only screen and (min-width: 65em) {
  :root {
    --section-spacing: 6rem;
  }
}
/* * md font size — small screens */
@media only screen and (min-width: 40em) {
  :root {
    /* scale avg. 1.414 */
    --fs-300: 0.8rem; /* 12.8px */
    --fs-400: 1rem; /* p - 16px */
    --fs-500: 1.125rem; /* h4 - 18px */
    --fs-600: 1.5rem; /* h3 - 24px */
    --fs-700: 2.25rem; /* h2 - 36px */
    --fs-800: 3rem; /* h1 - 48px */
    --fs-900: 3.375rem;
  }
}
html {
  scroll-behavior: smooth;
  background-color: var(--clr-dark-300);
}

body {
  font-family: var(--ff-sans-normal);
  min-height: 100vh;
  /* margin: 0 auto; */
  background-color: var(--clr-white-900);
  /* color: var(--text-color); */
  overflow-x: hidden;
}

/* * */
/* * all set to default */
/* * */
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

/* * list default */

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  max-width: 64ch;
  min-width: 12ch;
}

/* * */
/* * typography */
/* * */

/* * font size */
h1,
.h1 {
  font-size: var(--fs-800);
}
h2,
.h2 {
  font-size: var(--fs-700);
}
h3,
.h3 {
  font-size: var(--fs-600);
}
h4,
.h4 {
  font-size: var(--fs-500);
}
p,
.p {
  font-size: var(--fs-400);
}

/* * font-weight */

h1,
h2 {
  font-weight: 900;
}

/* * default picture img */
/* make images and pictures easier to work with */
img,
image,
picture {
  display: block;
  max-width: 100%;
  background-color: var(--clr-white-800);
}

button,
input,
select,
textarea {
  font: inherit;
}

/* // */
/* * */
/* * utility classes */
/* * */
/* // */

/* * sizing */
.container {
  max-width: 63.5em;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* * padding for all sections */
.home-section {
  padding: var(--section-spacing) 0;
}

/* * spacing for h2, h3 and p */
.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}
/* // */
/* * flexing */
/* // flex row - flex-column */

.flex-row {
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: center; */
  /* display: -webkit-box; */
}

.flex-column {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  /* display: -webkit-box; */
}
/* // */
/* * accessibility */

/* text and elements only for screen readers - hides from view */
.screenreader-accessibility-text {
  position: absolute;
  left: -999px;
  top: auto;
  height: 1px;
  width: 1px;
}

.screenreader-accessibility-text:focus {
  display: inline-block;
  position: static;
  height: auto;
  margin: auto;
  width: auto;
}

/* // */
/* * color */
.bg-dark {
  background-color: var(--clr-dark-800);
  /* color: var(--clr-white-900); */
}

.bg-grey {
  background-color: var(--clr-neutral-400);
}
/* // */
/* * */
/* * custom styling starts here */
/* * */
/* // */

header {
  background-color: var(--clr-dark-900);
}

/* * primary navigation */

.primary-nav {
  /* display: flex; */
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.primary-nav ul {
  color: var(--clr-neutral-400);
  gap: 2em;
}

.primary-nav ul > * {
  font-size: var(--fs-500);
  font-weight: 300;
}

/* logo text */

.logo-text {
  color: var(--clr-white-800);
}

/* * */
/* * hero section */
/* * */

.hero-wrapper {
  gap: var(--flow-spacer);
  justify-content: space-between;
  flex-grow: 0;
  /* align-items: flex-start; */
}
/* hero start */
.hero-start {
  padding: 1em 0;
  gap: var(--fs-500);
}

.hero-start h1 {
  color: var(--clr-white-800);
  margin: 0;
  padding: 0;
}

.hero-start p {
  color: var(--clr-neutral-400);
}

/* hero end */
picture .hero-end img {
  background-color: var(--clr-white-800);
}

.btn-cta {
  color: var(--clr-white-900);
  background-color: var(--clr-primary-400);
  padding: calc(var(--fs-300) / 1.125) var(--fs-700);
  border: 0;
  border-radius: 0.5em;
  /* ! this helps the button retain it's width when inside flex parent */
  align-self: flex-start;
  font-size: var(--fs-500);
}

/* * */
/* md query */

@media screen and (min-width: 40em) {
  .hero-wrapper {
    flex-direction: row;
  }
}

/* // */
/* * features section */

.features {
  gap: calc(var(--section-spacing) / 2);
}

.features li {
  display: flex;
  flex-direction: column;
  gap: var(--flow-spacer);
}

@media screen and (min-width: 40em) {
  div .features {
    display: flex;
    flex-direction: row;
  }
}

/* * */
/* * quote section */
/* * */

/* * */
/* * footer */
/* * */

footer {
  background-color: var(--clr-dark-900);
}
